#dsl_popup
.holder {
    padding: 2rem;
}
#dsl_popup .error label.error{
    position: absolute;
}
#dsl_popup .error label{
    color: #c51c38;
}
#dsl_popup .form-group{
    padding-bottom: 5px;
}
#dsl_popupinput.error,#dsl_popup select.error,#dsl_popup .error input{
    transition: all ease .5s;
    background: #f2dede;
    border: 1px solid #ebccd1
}

#dsl_submit {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    width: 150px;
}

#dsl_popup .wait {
    position: absolute;
    margin: 5px;
    z-index: 5;
}

#dsl_intro {
    color: #333;
    text-align: justify;
}

.dsl_error {
    padding: 3px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

#dsl_profile_image {
    height: 32px;
    vertical-align: middle;
    border: 1px solid #ccc;
    margin-right: 4px;
    border-radius: 5px;
}

#d_social_login .pre_loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1056;
}

#d_social_login .modal-dialog {
    width: 500px;
    transform: scale(1);
}