/*into css*/
.dsl-button:hover {
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.20);
  color: #fff;
}

.dsl-button {
  color: #fff;
  display: flex;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.10);
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.l-side {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.r-side {
  align-self: center;
}

.dsl-icon {
  display: inline-block;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

#d_social_login {
  display: flex;
  flex-wrap: wrap;
}
