<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    {% for script in scripts %}
        <script type="text/javascript" src="{{ script }}"></script>
    {% endfor %}
</head>
<body>
Authorizing.....
<script>
    $(document).ready(function () {
        $.ajax({
            url: "{{ url }}",
            type: 'post',
            data: {
                customer_data: {{ customer_data|json_encode() }}, authentication_data:{{ authentication_data|json_encode() }}
            }
        }).done(function (html) {
            document.open();
            document.write(html);
            document.close();
        })
    })
    ;
</script>
</body>
</html>